body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.btn-green {
    background-color: #15803d !important;
    border-color: #15803d !important;
    color: white !important;

    position: fixed;
    left: 1.5rem;
    bottom: 3.5rem;
    z-index: 1050;
    width: 7rem;
    height: 7rem;

}

.btn-green:hover {
    background-color: #166534 !important;
    border-color: #166534 !important;
}

.btn-red {
    background-color: #b91c1c !important;
    border-color: #991b1b !important;
    color: white !important;

    position: fixed;
    right: 1.5rem;
    bottom: 3.5rem;
    z-index: 1050;
    width: 7rem;
    height: 7rem;

}

.btn-red:hover {
    background-color: #8b0000 !important;
    border-color: #840000 !important;
}

.category-button {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.category-icon {
    font-size: 30px;
}

.category-btn small {
    color: #adb5bd;
    font-size: 12px;
    display: block;
    min-width: 70px;
    text-align: center;
    font-size: 13px;
}

.profile-picture {
    width: 20rem;
    height: 15rem;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    min-height: 90px;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.transactions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}