{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
<form method="POST" action="{{ url_for('main.register') }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div class="text-center">
    <h1 class="text-info-emphasis">Register</h1>
    <input type="text" placeholder="Username" class="form-control mb-2" name="username">
    <input type="password" placeholder="Password" class="form-control mb-2" name="password">
    <input type="password" placeholder="Confirm Password" class="form-control mb-2" name="confirm_password">
    <button class="btn btn-primary" id="register-btn">Register</button>
    <hr>
    <p>Already have an account?</p>
    <a href="{{ url_for('main.login') }}" class="btn btn-secondary">Login</a>
</div>
</form>
{% endblock %}